apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: alertmanager
  namespace: {{ prometheus.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alertmanager
  template:
    metadata:
      name: alertmanager
      labels:
        app: alertmanager
    spec:
      containers:
      - name: alertmanager-dingding
        image: {{ prometheus.repo }}/{{ alertmanager_dingding.version }}
        args:
          - '--ding.profile=webhook1={{ alertmanager_dingding.token }}'
          - '--log.level=debug'
          - '--template.file=/etc/alertmanager-templates/dingding.tmpl'
        volumeMounts:
        - name: dingding-templates-volume
          mountPath: /etc/alertmanager-templates
        ports:
        - name: dingding
          containerPort: 8060
      - name: alertmanager
       # image: quay.io/prometheus/alertmanager:v0.12.0
        image: {{ prometheus.repo }}/{{ alertmanager.version }}
        args:
          - '-config.file=/etc/alertmanager/config.yml'
          - '-storage.path=/alertmanager'
        ports:
        - name: alertmanager
          containerPort: 9093
        volumeMounts:
        - name: config-volume
          mountPath: /etc/alertmanager
        - name: templates-volume
          mountPath: /etc/alertmanager-templates
        - name: alertmanager
          mountPath: /alertmanager
      volumes:
      - name: config-volume
        configMap:
          name: alertmanager
      - name: templates-volume
        configMap:
          name: alertmanager-templates
      - name: alertmanager
        emptyDir: {}
      - name: dingding-templates-volume
        configMap:
          name: dingding-templates
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/path: '/metrics'
  labels:
    name: alertmanager
  name: alertmanager
  namespace: {{ prometheus.namespace }}
spec:
  selector:
    app: alertmanager
  type: NodePort
  ports:
  - name: alertmanager
    protocol: TCP
    port: 9093
    targetPort: 9093
